* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  margin: 0;
  background: #0f172a;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-app {
  width: 380px;
  height: 100vh;
  max-height: 600px;
  background: #fff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Mobile */
@media (max-width: 500px) {
  .chat-app {
    width: 100%;
    height: 100vh;
    border-radius: 0;
  }
}

/* Header */
.chat-header {
  background: #4f46e5;
  color: white;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions button {
  background: transparent;
  border: none;
  font-size: 18px;
  color: white;
  cursor: pointer;
}

/* Messages */
.chat-messages {
  flex: 1;
  padding: 12px;
  overflow-y: auto;
  background: #f1f5f9;
}

/* Bubble */
.message {
  max-width: 75%;
  padding: 10px;
  border-radius: 12px;
  margin-bottom: 8px;
  font-size: 14px;
}

.self {
  background: #4f46e5;
  color: white;
  margin-left: auto;
}

.other {
  background: #e5e7eb;
}

/* Input */
.chat-input {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
  border-top: 1px solid #ddd;
  width: 100%;
  box-sizing: border-box;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  min-width: 0;
}

.chat-input button {
  padding: 10px 14px;
  border: none;
  background: #4f46e5;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  white-space: nowrap;
}


/* Dark Mode */
.dark body {
  background: #020617;
}

.dark .chat-app {
  background: #020617;
  color: white;
}

.dark .chat-messages {
  background: #020617;
}

.dark .other {
  background: #1e293b;
  color: white;
}
@media (max-width: 600px) {
  .chat-input {
    gap: 6px;
  }

  .chat-input button {
    padding: 8px 10px;
    font-size: 13px;
  }
}
.online-users {
  padding: 6px 12px;
  font-size: 13px;
  background: #eef2ff;
  border-bottom: 1px solid #ddd;
  overflow-x: auto;
  white-space: nowrap;
}

.dark .online-users {
  background: #020617;
}
.message {
  position: relative;
}

.delete-btn {
  position: absolute;
  top: 6px;
  right: 6px;
  background: rgba(0,0,0,0.05);
  border: none;
  border-radius: 50%;
  padding: 4px 6px;
  cursor: pointer;
  font-size: 12px;
  opacity: 0;
  transition: 0.2s ease;
}

.message:hover .delete-btn {
  opacity: 1;
}

.delete-btn:hover {
  background: rgba(239,68,68,0.2);
  transform: scale(1.1);
}
#imageInput {
  width: 90px;
  font-size: 12px;
}
.chat-img {
  max-width: 200px;
  border-radius: 10px;
  margin-top: 6px;
  cursor: pointer;
}
